
.grid-container {
  box-shadow: 0px 0px 15px rgba(150,150,150,1);
  display: grid;
  grid-template-columns: 50% 50%;

  margin: 5% auto;
  margin-left: 5%;
  border-radius: 15px;
  background-color: white;
  max-width: 1000px;

}
.grid-item {
  font-size: 35px;
  border-radius: 15px;
  margin: 3%;
  font-family: Lato;
}
.secondColumn{
  padding-left: 6%;
  background-color: white;
}
.captionp{
  font-size: large;
  color: grey;
  padding-bottom: 5%;
}
#first{
  margin-bottom: 1%
}
.captionp2{
  color: gray;
  margin-bottom: 2%;
  font-size: small;
  font-weight: bold;
}
input{
  padding: 2%;
  border: 1px solid rgba(150, 150, 150, 0.5);
  border-radius: 5px;
}
.inputs{
  display: grid;
  font-size: large;
  width: 85%;
  align: left;
}
#inputButton{
  background-color: rgba(60, 55, 255, 1);
  margin: 5% auto;
  width: 90%;
  font-size: medium;
  padding: 3%;
  margin-top: 10%;
  color: white;
  border-radius: 9px;
}
#inputButton:hover{
  background-color: rgba(60, 55, 255, 1);
  transform: translateY(2px);
  color: white;
  font-weight: bold;
}
#inputButton:active{
  background-color: white;
  color: rgba(60, 55, 255, 1);
  border: 1px solid rgba(60, 55, 255, 1);
}

#usernmIn{
  margin-bottom: 4%;
}
#descriptionId{
  flex-grow: 8;
}
#monitorId{
  flex-grow: 2;
  color: rgba(255, 0, 0, 0.64);
}

#passwdPV{
  flex-grow: 8;
}
#invV{
  flex-grow: 2;
  color: rgba(255, 0, 0, 0.64);
}
#passwdIn{
  margin-bottom: 4%;
}
@media screen and (max-width: 500px){
  #firstColumn{
    display: none;
  }
  .grid-container{
    grid-template-columns: 100%;
  }
}
input:focus{
  outline: 0;
}
.redClassBorder{
  border: 1px solid red;
}
.greenClassBorder{
  border: 1px solid lightgreen;
}
.login{
  text-align: center;
  font-size: small;
}
