.listing{

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, auto));
  column-gap: 5px;

  row-gap: 14px;
  overflow: scroll;
  min-height: 480px;

}
.listing-photo {
  display: flow;
  height: 230px;
  width: 230px;
  object-fit: cover;

  border-radius: 30px;
  /*border: 1px solid black;*/
  margin: auto;

}
