<div class="grid-container">

  <div class="grid-item special left">
    <div class="leftNasted">
      <span id="logo">Alexgram&trade;</span>
    </div>

    <div class="leftNasted navButtons" >
      <div class="navButtonsNasted" id="homeButton">
        <button class="buttons"><img class="images" src="../../assets/homeLogo.png">Home</button>
      </div>
      <div class="navButtonsNasted" id="searchButton">
        <button class="buttons"><img class="images" src="../../assets/searchLogo.png">Search</button>
      </div>
      <div class="navButtonsNasted" id="notificationButton">
        <button class="buttons"><img class="images" src="../../assets/heartLogo.png">Notification</button>
      </div>
      <div class="navButtonsNasted" id="profileButton">
        <button class="buttons"><img class="imageNavLogo" src="../../assets/DemoProfilePic.jpg">Profile</button>

      </div>
    </div>

    <div class="leftNasted logoutDiv" >
      <input type="button" id="logout" value="logout">
    </div>


  </div>

  <div class="grid-item wrapper">
    <div class="nasted two"></div>
    <div class="nasted three"></div>
  </div>


  <div class="grid-item special right">
    <div class="rightNasted">
      <div class="getin">
        <span id="photoProfCircle"></span>
      </div>

      <div class="getin" id="profName">Alexander Kariotis</div>
    </div>
    <div class="rightNasted" >

    </div>



  </div>
</div>
