<div class="grid-container">

<!--Left Column-->
  <div class="grid-item left">
    <div class="leftNested alexgramLogo">
      <span id="logo">Alexgram&trade;</span>
    </div>
    <div class="leftNested navButtons" >
      <div class="navButtonsNested" id="homeButton" >
        <button class="buttons" [routerLink]="this.navigation.goToFeedString()"><img class="images" src="assets/homeLogo.png">Home</button>
      </div>
      <div class="navButtonsNested" id="searchButton" >
        <button class="buttons" [routerLink]="this.navigation.goToSearchString()"><img class="images" src="assets/searchLogo.png">Search</button>
      </div>
      <div class="navButtonsNested" id="profileButton" >
        <button class="buttons" [routerLink]="this.navigation.goToProfileViewString(this.userService.getUid(),this.userService.getUsername())"><img class="imageNavLogo" src="assets/DemoProfilePic.jpg">Profile</button>
      </div>
      <div class="navButtonsNested" id="profileButton" >
        <button class="buttons" [routerLink]="this.navigation.goToAddPostString()"><img class="imageNavLogo" src="assets/addPost.png">Add Post</button>
      </div>
    </div>
    <div class="leftNested logoutDiv" >
      <button id="logout" (click)="logout" class="logoutButton">Logout</button>
    </div>
  </div>

<!--Center Column-->
  <div class="grid-item center">
    <div class="centerNested">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
