.grid-container {
  display: grid;
  grid-template-columns: 300px auto;
  margin-top: 5px;
  grid-column-gap: 5px;
  /*border: 1px solid black;*/
  min-height: 600px;
  max-height: 600px;
}

.grid-item {

  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /*border: 1px solid rgba(255, 255, 255, 0.3);*/

}
.left{
  /*border: 1px solid black;*/
  display: grid;
  grid-template-rows: 60px 475px 60px;
  padding: 4%;
  min-height: 600px;
  max-height: 600px;
}

.leftNested{
  /*border: 1px solid black;*/
}
.navButtons{

  display: grid;
  grid-template-rows: 12% 12% 12% 12%;
  padding: 5%;

}
.navButtonsNested{
  display: grid;
  margin: 4% 4% 4% 0%;

}
.buttons{
  font-size: large;
  text-align: left;

}
#logo{
  margin: auto;
  font-size: 30px;
  font-family: Delius;
}
.logoutDiv{
  margin: auto;
}
.logoutButton{
  background-color: rgba(255, 0, 0, 0.73);
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
}
.logoutButton:hover{
  background-color: crimson;
  font-weight: bold;
}
.logoutButton:active{
  background-color: brown;
}

.images{
  width: 20px;
  height: 20px;
  margin: 0% 5% 0% 2%;
}
.imageNavLogo{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0% 5% 0% 2%;
}
.alexgramLogo{
  /*border: 1px solid black;*/
  text-align: left;
  padding-top: 10%;
  padding-left: 8%;
}

.centerNested{
  margin: auto;
  max-width: 800px;
}

@media screen and (max-width: 1080px){
  .left{
    display: none;
  }
  .grid-container{
    min-height: 630px;
    display: grid;
    grid-template-columns: 100%;

  }


}

