<div class="fullWrapper">
  <div class="wrapperImg ">

      <img (click)="deletePostCalling()" [src]="post.filename" class="detailImg">

  </div>


  <div class="wrapperSecColumn">
    <div class="nestedDesc" (click)="updateDescCalling(post.description)">
      {{post.description}}
    </div>
    <div class="nestedComments">
      <p *ngIf="!isAnyCommentExist">There is no comments! </p>
      <div *ngIf="isAnyCommentExist">
        <ul  *ngFor="let comment of comments" class="usernmClass">
          <li (click)="updateCommentCalling(comment.commentid, comment.comment)">{{comment.createdate}} : {{comment.username}}: {{comment.comment}}</li>
        </ul>
      </div>
    </div>

<!--    Create Comment -->
    <div class="nestedCommentNewComment" *ngIf="!isUpdateCommentTabEnable && !isUpdateDescTabEnable">

          <div class="textareas">
            <textarea (focus)="clearingNewCommentTextarea()" [(ngModel)]="valuees"></textarea>
          </div>
          <div class="submitButtonClass">
            <button class="newCommentButtonClass" (click)="onSubmitNewComment(valuees)">Post</button>
          </div>
    </div>

<!--   Update-Delete Comment -->
    <div class="nestedCommentUpdateOrDelete" *ngIf="isUpdateCommentTabEnable && !isUpdateDescTabEnable">
      <div><button (click)="backbuttonfunc()" class="backButtonComment"><</button></div>
      <div class="textareas">
        <textarea (focus)="clearingNewCommentTextarea()" [(ngModel)]="valuees"></textarea>
      </div>
      <div class="submitButtonClass">
        <button class="updateButtonClass" (click)="updateButtonFunc(valuees)">Update</button>
      </div>
      <div ><button class="deleteButtonClass" (click)="deleteCommentButtonFunc()">Delete</button></div>
    </div>

<!-- Update Description -->
    <div class="nestedDescUpdateOrDelete" *ngIf="!isUpdateCommentTabEnable && isUpdateDescTabEnable">
      <div><button (click)="backbuttonfunc()" class="backButtonComment"><</button></div>
      <div class="textareas">
        <textarea (focus)="clearingNewCommentTextarea()" [(ngModel)]="valuees"></textarea>
      </div>
      <div class="submitButtonClass">
        <button class="newCommentButtonClass" (click)="updateDescButtonFunc()">Uptes</button>
      </div>
    </div>

<!-- Delete Post -->
    <div class="nestedDeletePost" *ngIf="isUpdateCommentTabEnable && isUpdateDescTabEnable">

      <div class="textareas">
        <p>Do you want to delete this post?</p>
      </div>
      <div class="submitButtonClass">
        <button class="deleteButtonClass" (click)="backbuttonfunc()">No</button>
      </div>
      <div>
        <button class="updateButtonClass" (click)="deletePostButtonFunc()">Yes</button>
      </div>
    </div>

  </div>
</div>
