.wrapperResults{
  display: grid;
  grid-template-rows: 95% 5%;
}
.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, auto));
  column-gap: 5px;

  row-gap: 14px;
  overflow: scroll;
  min-height: 480px;

}
.listing{

  /*border: 1px solid black;*/

}
.listing-photo {
  display: flow;
  height: 230px;
  width: 230px;
  object-fit: cover;

  border-radius: 30px;
  /*border: 1px solid black;*/
  margin: auto;

}

.nestedWrapperPaging{
  display: inline-block;

}
.paging{
  color: black;
  float: left;
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
}
.paging:hover{
  background-color: white;
  font-weight: bold;
}
.paging:active{
  background-color: rgba(80,80,80,0.5);
  color:white;
}
