

.profileWrapper{
  min-height: 600px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 20% ;
}
.profileNestedA{
  border: 1px solid black;
}
.profileNestedB{
  border: 1px solid black
}
