<div class="grid-container">
  <div class="grid-item" id="firstColumn">
    <h4 #firstColumn id="as">{{loginHandling.value.username}}</h4>
    <h4>{{loginHandling.value.password}}</h4>

  </div>

    <div class="grid-item secondColumn">
      <form [formGroup]="loginHandling"
                (ngSubmit)="onSubmit()">
        <h5 id="first">Welcome to Alexgram&trade;</h5>
        <p class="captionp">Place your credentials !</p>
        <label for="usernmIn" class="captionp2">Username</label>
        <input type="text" class="inputs" id="usernmIn" formControlName="username" >
        <div style="display: flex;">
          <div class="captionp2" id="passwdP">Password</div>
          <div class="captionp2" id="inv" #inv >{{error}}</div>
        </div>

        <input type="password" id="passwdIn" class="inputs" (focus)="changing()" formControlName="password">
        <input id="inputButton" type="submit" [disabled]="!loginHandling.valid" value="Log In" >
      </form>
    </div>
  </div>
