<div class="profileWrapper">
  <div class="profileNestedA">

    <img id="photoProfCircle" src="../../../assets/DemoProfilePic.jpg" alt="">

    <div class="profileCenterNested">
      <div class="usernameClass">
        <div >
          {{user.username}}
        </div>
        <div *ngIf="!isRelation && !isMyProfile"><button class="followButton" (click)="followButton()">Follow</button></div>
        <div *ngIf="isRelation  && !isMyProfile"><button class="unfollowButton" (click)="unfollowButton()">Unfollow</button></div>

      </div>
      <button class="followClass" (click)="profileShowFunc(false,true)">
        <div class="numberFollow">{{followersCount}}</div>
        <div class="spanFollow">followers</div>


      </button>
      <button class="followClass" (click)="profileShowFunc(false,false)">
        <div class="numberFollow">{{followingCount}}</div>
        <div class="spanFollow">following</div>

      </button>

    </div>

    <div class="settingButtonDiv">
      <button id="settingButton" (click)="routing()">. . .</button>
    </div>

  </div>


    <div class="wrapperResults" *ngIf="profileShow">
      <div class="results">
        <app-small-post-presentation [posts]="posts" ></app-small-post-presentation>
      </div>
      <div class="footerPagingPosts" >
        <app-footer-paging [pages]="pages"
                           (myData)="getPosts($event)" ></app-footer-paging>
      </div>
    </div>
  <div *ngIf="!profileShow" class="followUsernamesClass">

    <app-follow-relations (data)="profileShowFunc(true,false)"
                          [followersPointer]="followersPointer"
                          [followings]="followings"
                          [followers]="followers" ></app-follow-relations>
  </div>
</div>
