<div class="profileWrapper">
  <div class="profileNestedA">

      <img id="photoProfCircle" src="../../../assets/DemoProfilePic.jpg" alt="">

    <div id="profName">{{user.username}}</div>
    <div class="settingButtonDiv">
      <button id="settingButton" (click)="routing()">. . .</button>
    </div>
  </div>


    <div class="wrapperResults">
      <div class="results">
        <app-small-post-presentation [posts]="posts" ></app-small-post-presentation>
      </div>
      <div class="footerPagingPosts" >
        <app-footer-paging [pages]="pages"
                           (myData)="getPosts($event)" ></app-footer-paging>
      </div>
    </div>
</div>
