<div class="profileWrapper">
  <div class="profileNestedA">

    <img id="photoProfCircle" src="../../../assets/DemoProfilePic.jpg" alt="">

    <div class="profileCenterNested">
      <div class="usernameClass">
        {{user.username}}
      </div>
      <div class="followClass">
        <div class="numberFollow">{{followers}}</div>
        <div class="spanFollow">followers</div>


      </div>
      <div class="followClass">
        <div class="numberFollow">{{following}}</div>
        <div class="spanFollow">following</div>

      </div>

    </div>

    <div class="settingButtonDiv">
      <button id="settingButton" (click)="routing()">. . .</button>
    </div>

  </div>


    <div class="wrapperResults">
      <div class="results">
        <app-small-post-presentation [posts]="posts" ></app-small-post-presentation>
      </div>
      <div class="footerPagingPosts" >
        <app-footer-paging [pages]="pages"
                           (myData)="getPosts($event)" ></app-footer-paging>
      </div>
    </div>
</div>
