<div class="grid-container">
  <div class="grid-item ">

    <div class="wrapper">

      <div class="caption" >Search a user</div>
      <input type="text" class="inputs" id="inputText"
                placeholder="Type a part of or full username"
      [(ngModel)]="usernameValue">

    </div>
  </div>
  <div class="grid-item">
    <ul class="wrapperUl">
      <li *ngFor="let user of users" >
        <a [routerLink]="this.navigation.goToProfileViewString(user.uid, user.username)" class="aTagClass">{{user.username}}</a>
      </li>
    </ul>
  </div>
  <div class="footerPagingComments" >
  <app-footer-paging [pages]="searchPages"
                     (myData)="getUsers($event)" ></app-footer-paging>

  </div>
</div>
