
.nestedWrapperPaging{
  display: inline-block;
}

.paging{
  color: black;
  float: left;
  padding: 4px 8px;
  background-color: rgba(208, 207, 207, 0.6);
  border: none;
}
.paging:hover{
  background-color: rgba(208, 207, 207, 0.6);

  font-weight: bold;
}
.paging:active{
  background-color: rgba(80,80,80,0.5);
  color:white;
}
