
<div class="nestedComments">
  <p *ngIf="!isAnyCommentExist">There is no comments! </p>
  <div *ngIf="isAnyCommentExist">
    <ul  *ngFor="let comment of comments" class="usernmClass">
      <li class="liCommentView" (click)="updateCommentCalling(comment)">
        <span style="font-size: x-small">{{comment.createdate | date:'short'}} : </span>{{comment.username}}: {{comment.comment}}
      </li>
    </ul>
  </div>

</div>
<div class="footerPagingComments" >
  <app-footer-paging [pages]="commentPages"
                     (myData)="getComments($event)" ></app-footer-paging>
</div>


<!--    Create Comment -->
<div class="nestedCommentNewComment" *ngIf="!isUpdateCommentTabEnable">

  <div class="textareas">
    <textarea (focus)="clearingNewCommentTextarea()" [(ngModel)]="valuees"></textarea>
  </div>
  <div class="submitButtonClass">
    <button class="newCommentButtonClass" (click)="onSubmitNewComment()">Post</button>
  </div>
</div>

<!--   Update-Delete Comment -->
<div class="nestedCommentUpdateOrDelete" *ngIf="isUpdateCommentTabEnable">
  <div><button (click)="backbuttonfunc()" class="backButtonComment"><</button></div>
  <div class="textareas">
    <textarea (focus)="clearingNewCommentTextarea()" [(ngModel)]="valuees"></textarea>
  </div>
  <div class="submitButtonClass">
    <button class="updateButtonClass" (click)="updateButtonFunc(valuees)">Update</button>
  </div>
  <div ><button class="deleteButtonClass" (click)="deleteCommentButtonFunc()">Delete</button></div>
</div>

